[submodule "themes/aether"]
	path = themes/aether
	url = https://github.com/josephhutch/aether.git
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "themes/pure"]
	path = themes/pure
	url = https://github.com/xiaoheiAh/hugo-theme-pure.git
